{{ define "jenkins/main.tmpl" }}

<!-- Header -->
{{ template "head.tmpl" .}}

<div  class="w3-container" style="font-family: 'Open Sans', sans-serif;" id="main">  
    <h2>Jenkins Masters for {{ .project }} </h2>
    <div class="form-group">
        {{range .payloaddcos}}
            <li> <a href="https://{{ .URL }}">{{ .Host }}</a></li>
        {{end}}
    </div>

    <h2>Perforce branches</h2>
    <div class="form-group">
        {{range .payloadbranch}}
            <li class="list-group-item list-group-item-light">{{ .Name | convertFileJSONResp }}</li>
        {{end}}
    </div>
</div>

<!-- Footer -->
{{ template "foot.tmpl" .}}

{{ end }}