{{ define "jenkins/main.tmpl" }}
<html>
    <head>
        <title>Gobra Jenkins {{ .project }} Project</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Wen Zhou">
    </head>
    <body>
        <div style="font-family: 'Sans-Light'; float:right;margin-right:10px;font-size: small">Version: <span id="version">{{ .version }}</span></div>
        <div class="container" style="font-family: 'Sans-Regular';">
            <div class="row">
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-10">    
                <div style="margin-top:5px;">
                <p>
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                         Here you can get most of the information of our Jenkins services on project {{ .project }}
                         Please <a href="to_do_our_google_page" target="_blank">read carefully</a> if you have more questions.
                    </li>
                    <li class="list-group-item list-group-item-light">
                       <a href="/"> Back to the future &#128072;<= </a>
                    </li>
                    </ul>
                </p>
            </div>

            <div  class="custom">
                <form action="/queryJenkins" method="POST">  
                    <h2>Jenkins Masters for {{ .project }} </h2>
                    <div class="form-group">
                        {{range .payloadmaster}}
                          <li>  <a href="https://{{.Name| formatJSONResp}}.dre.dice.se">{{ .Name | formatJSONResp }}<img height="90px"></a>  </li>                  
                        {{end}}
                    </div>
                    <h2>Perforce branches for {{ .project }} </h2>
                    <div class="form-group">
                        {{range .payloadbranch}}
                            <li class="list-group-item list-group-item-light">{{ .Name | formatJSONResp }}</li>
                        {{end}}
                    </div>
                </form>
            </div>
        </div>
    </body>
{{ template "foot.html" .}}
{{ end }}