{{ define "jenkins/main.tmpl" }}

{{ template "head.tmpl" .}}

    <body>
        <div class="container" style="font-family: 'Sans-Regular';">
            <div  class="custom">
                <form action="/queryJenkins" method="POST">  
                    <h2>Jenkins Masters for {{ .project }} </h2>
                    <!--div class="form-group">
                        {{range .payloadmaster}}
                          <li>  {{ .Name | convertFileJSONResp }}</li>    
                        {{end}}
                    </div-->
                    <div class="form-group">
                        {{range .payloaddcos}}
                          <li>  <a href="{{ .URL }}">{{ .Host }}<img height="90px"></a>  </ li>
                        {{end}}
                    </div>

                    <h2>Perforce branches for {{ .project }} </h2>
                    <div class="form-group">
                        {{range .payloadbranch}}
                            <li class="list-group-item list-group-item-light">{{ .Name | convertFileJSONResp }}</li>
                        {{end}}
                    </div>
                </form>
            </div>
        </div>
    </body>

{{ template "foot.tmpl" .}}

{{ end }}
