{{ define "bilbo/health.tmpl" }}

<!-- Header -->
{{ template "head.tmpl" .}}


<div class="w3-container" style="font-family: 'Sans-Regular';">
    <div class="custom">
        {{range .bilboSummary}}
            <h2>Bilbo realtime status:</h2>
                <div class="form-group">
                        <li>ClusterName:<a href={{ .URL }}>{{ .ClusterName }}</a></li>
                        <li>{{ .Status }}<img id="{{ .ClusterName }}" alt="{{ .Status }}" src="{{ .Status | showStatusIcon }}" height="50px"></li>
                        <li>Total number of nodes: {{ .NumberOfNodes }}</li>
                </div>
        {{ end }}

    </div>
</div>

<!-- Footer -->
{{ template "foot.tmpl" .}}

{{ end }}