{{ define "bilbo/instance.tmpl" }}

<!-- Header -->
{{ template "head.tmpl" .}}

<div class="w3-container" style="font-family: 'Sans-Regular';"> 
    <h2>Jenkins Masters for {{ .project }} </h2>
    <div class="form-group">
        {{range .payloadbilbohealth}}
            <li>  <a href="https://{{.Name| convertFileJSONResp}}.dre.dice.se">{{ .Name | convertFileJSONResp }}</a>  </li>
        {{end}}
    </div>
    <form action="/result.tmpl">
        <label for="cars">Choose what you want to do with bilbo:</label>
        <select name="operation" id="ops">
            {{range .bilboOps}}
                <option value="{{ .Operation }}">{{ .Operation }}</option>
            {{end}}
        </select>
    <input type="submit" value="Submit">

<!-- Footer -->
{{ template "foot.html" .}}

{{ end }}