<div style="position:relative;bottom:10px;" class="row">
    <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-10" style="margin-left:20px;font-size: small;">   
            <h6>
            For feedback and donation &#128176; go to <a href="https://electronic-arts.slack.com/archives/C01GH6YLYLX">#cobra-and-friends</a>
            Powered by <a href = "mailto: ericchou19831101@msn.com">{{ .author }}</a>  
            </h6>            
        </div>
    <div class="col-sm-1">&nbsp;</div> 
</div>

</body>

</html>