<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <meta charset="UTF-8">
        <meta name="author" content="Wen Zhou">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" -->
        <style>
        html,body,h1,h2,h3,h4,h5,h6 {style="font-family: 'Sans-Regular';}
        .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
        }
        </style>
    </head>

    <div style="padding: 2rem 2rem; margin-bottom:1;background: #ffffff;color: #ff0000;">
        <img height="80px" src="/img/electronic-arts-1.svg" style="float:left;margin-top: -25px;">
        <h1>{{ .title }}</h1>
    </div>

    <div style="font-family: 'Open Sans', sans-serif; float:right; margin-right:10px; font-size: small">Version: <span id="version">{{ .version }}</span></div>

    <div style="font-family: 'Open Sans', sans-serif; font-size: small" class="row">
        <p>
            <ul class="list-group">
            <p> Please read Cobra's <a href="to_do_our_google_page" target="_blank"> google site </a> for more information</p>
            <p><a href="/"> Back to the future &#128072; </a></p>
            </ul>
        </p>
    </div>

    <body id="myPage">