<html>
    <head>
        <title>{{ .title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Wen Zhou">
    </head>
    <div style="padding: 1rem 1rem; margin-bottom:0;background: #ffffff;color: #ff0000;">
        <img height="100px" src="img/electronic-arts-1.svg" style="float:left;margin-top: -25px;">
        <h1 style="font-family: 'Sans-Medium';font-weight:600;">{{.title}}</h1>
    </div>
    <div style="font-family: 'Sans-Light'; float:right;margin-right:10px;font-size: small">Version: <span id="version">{{ .version }}</span></div>


    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-10">    
        <div style="margin-top:5px;">
        <p>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                    Here you can get most of the information of our Jenkins services on project {{ .project }}
                    Please <a href="to_do_our_google_page" target="_blank">read carefully</a> if you have more questions.
            </li>
            <li class="list-group-item list-group-item-light">
                <a href="/"> Back to the future &#128072;<= </a>
            </li>
            </ul>
        </p>
    </div>