<!-- Header -->
{{ template "head.tmpl" .}}
 

<div  class="w3-container" style="font-family: 'Open Sans', sans-serif;" id="main">
<h2>Services</h2>
     <div class="w3-container w3-padding-small">
        <a href="api/v1/jenkins/info">Jenkins collection<img height="50px" src="/img/jenkins2.jpg" alt="Jenkins"></a>
    </div>

     <div class="w3-container w3-padding-small">
        <a href="api/v1/bilbo/health">Bilbo(Elasticsearch) collection<img height="50px" src="/img/bilbo.svg" alt="Bilbo"></a>
    </div>

    <div class="w3-container w3-padding-small">
        <a href="api/v1/k8s/servicelist">Kubernetes service list<img height="50px" src="/img/kubernets.svg" alt="K8s"></a>
    </div>

     <div class="w3-container w3-padding-small">
        <a href="api/v1/aws/sum">AWS webservices<img height="50px" src="/img/aws.png" alt="AWS"></a>
    </div>
</div>

<!-- Footer -->
{{ template "foot.tmpl" .}}
